/* write your override styles here */
div#wall .tag-1 {
    background: transparent;
}
div#wall div#tag-2 {
    background: transparent;
}
div#wall div#tag-3.slick {
    background: transparent;
}
div#wall div.parent div#tag-4 {
    background: transparent;
}
div#wall div.parent div#tag-5.slick {
    background: transparent;
}
body div#wall div.parent div:last-child div#tag-6 {
    background: transparent;
}
head ~ body div#wall div.parent div > #tag-7.slick {
    background:transparent;
}